@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=IM+Fell+English+SC&display=swap');
@import url('https://fonts.googleapis.com/css?family=Kotta+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Holtwood+One+SC|Kotta+One&display=swap');
/* font-family: 'Kotta One', serif; */
/* font-family: 'IM Fell English SC', serif;*/
/* font-family: 'Kotta One', serif; */

body {
	background-color: #ffed4a;
}

/* DIV */

div#interface {
	width: 1240px;
	background-color: white;
	padding: 15px;
	box-shadow: 1px 1px 3px rgba(0,0,0,.6);
	margin:-20px auto 0px auto;
	text-align: justify;
}

img#icone {
	position: absolute;
	top:50px;
	right: 20px;
}
	


/* HEADER */

header#cabecalho-principal {
	border-bottom: 1px solid #606060;
	font-family: arial, sans-serif;
	height: 140px;
}

header#cabecalho-principal h1 {
	margin: 50px 0px 0px 40px;
	font-size: 50px;
	font-weight: normal;
	text-shadow: 2px 2px 2px rgba(0,0,0,.3);
	font-family: 'IM Fell English SC', serif;
	color:#730000;
	background-color: #fff490;
	border-radius: 24%;
	box-shadow: 1px 1px 1px 2px rgba(100,40.3,40.3,.6);
	width: 280px;
	padding: 7px;
	top:60px;
	left:50px;
}

header#cabecalho-principal h2 {
	margin:10px 0px 0px 40px;
	font-weight: normal;
	font-size:18pt;
	font-family: 'Kotta One', serif;
	padding: 0px;
	top:40px;
	left: 50px;
}

header#cabecalho-secundario  h1 {
	color:#606060;
	font-family: 'IM Fell English SC', serif;
	margin:10px 0px 0px 35px;
	font-size: 20pt;
}

header#cabecalho-secundario h2 {
	font-size: 10pt;
	margin:0px 0px 0px 45px;
	font-family: 'Kotta One', serif;
	color:#cecece;
}



header#cabecalho-secundario h3 {
	font-size: 10pt;
	font-family: arial, sans-serif;
	color:#606060;
	text-align: right;
	margin-right: 10px;

}

/* MENU */

nav#menu {
	display: block;
}

nav#menu ul {
	position: absolute;
	list-style: none;
	text-transform:uppercase;
	top:-14px;
	right:240px;

}

nav#menu li {
	display: inline-block;
	background-color: #730000;
	padding: 10px;
	border-radius: 10%;
	margin-right: 35px;
	transition: all .5s;	
}


nav#menu li:hover {
	background-color: white;
}


nav#menu a {
	text-decoration: none;
	font-family: 'Kotta One', serif;
	font-size:13pt;
	color: white;
	transition:color .5s;
}

nav#menu li:hover a {
	color:red;
}


nav#menu h1 {
	display: none;
}

/* SECTION */ 

section#conteudo{
	display: block;
	float:left;
	width: 710px;
	font-family: arial, sans-serif;
	text-indent: 30px;
	text-align: justify;
	padding: 5px;
	border-right: 1px #606060 solid;
	padding-right: 10px;
}

section#conteudo h1 {
	background-color: #730000;
	color:white;
	padding: 5px;
}

/* ASIDE */

aside#lateral{
	display: block;
	float:right;
	width: 500px;
}

aside#lateral h1 {
	background-color: #ff9a9a;
	padding: 5px;

}

/* FOOTER */ 

footer#rodape  {
	clear:both;
	text-align: center;
	border-top:1px solid #606060;
	padding-top: 14px;
	margin:5px;
	font-size: 12pt;
	font-family: arial, sans-serif;	
	font-weight: bold;
}

footer#rodape p {
	color:black;
	margin-bottom: 5px;
	text-align: center;
	color: #940000;
	
}

footer#rodape nav#link-rodape a {
	text-decoration: none;
	font-weight: bold;
	color:blue;
	margin-top: 2px;

}



